<input type="button" value="Click Me">
<p>

  <input type="checkbox" id="coding" name="interest" value="coding" checked>
   <label for="coding">Coding</label></p>

   <input type="color" value="#ff0000">
   <input type="date" value="2017-06-01">

   <label for="userPassword">Password: </label>
   <input id="userPassword" type="password">

   <input type="submit" value="Send Request">
   <input type="email" id="email"
